.container--con{
    padding: 20px 200px 0 200px; 
    height: 87vh;
    background: #55d6aa;
}
.person{
    font-family: 'Open Sans', Arial, sans-serif;
    position: relative;
    min-width: 230px;
    max-width: 320px;
    min-height: 75px;
    width: 100%;
    border-radius: 5px;
    background: #f2f2f2;
    padding: 15px 20px;
    margin: 50px auto;
}
#name--social{
  margin: 0px;
  color: black;
  font-weight: 400;
  font-size: 20px;

}
.social1{
    color: #cccccc;
    font-size: 27px;
    transition: all 150ms ease-in-out;
    margin-right: 5px;
}
.social1:hover{
    color: #55d6aa;
    transform: scale(1.2);
    transition: all 150ms ease-in-out;
}
.social{
    margin-top: 3px;
}
.picture{
    position: absolute;
    top: -30%;
    right: 20px;
}
.dp{
    border-radius: 50%;
}