@font-face {
    font-family: linux;
    src: url(../fonts/linux.ttf);
}
.index{
    float: left;
    width: 20vw;
    font-weight: 500;
    line-height: 22.4px;
}
@media screen and (max-width: 674px) {
    .index{
        display: none;
    }
    .index.show{
        display: block;
        float: none !important;
        width: 100% !important;
        animation: reveal 1s ease-in-out;
    }
}
@keyframes reveal {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }    
  }

.index ol {
       counter-reset: item;
       padding-left: 25px;
    }
.index li{ display: block }
.index li:before { 
      content: counters(item, ".") ". "; 
      counter-increment: item 
    }
    