@font-face {
    font-family: linux;
    src: url(../fonts/linux.ttf);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #1b1c21; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #3f3f3f; 
    border-radius: 15px; 
    height: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

@media screen and (max-width: 674px) {
    .main-wrapper{
        width: auto !important;
    }
}
.main-wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    height: auto;
    border-left: 1px solid #DCE5EE;
    border-right: 1px solid #DCE5EE;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2vw;
}

.main-wrapper p{
  margin: 0px;
  font-family: sans-serif;
  font-size: 0.875em;
  color: #222222;   
  line-height: 22.4px;
  letter-spacing: 0.3px;
}
.main-wrapper h3{
    margin-bottom: 0px;
    font-family: linux, serif;
  }

.main-wrapper h4{
    font-family: linux, serif;
    margin-bottom: 0px;
}

.top-scroll{
    position: fixed;
    bottom: 60px;
    right: 25px;
    transition: all ease-in-out 250ms;
    opacity: 0.7;
}
.top-scroll i{
    color: #55d6aa;
}
.top-scroll:hover{
    opacity: 1;
    transition: all ease-in-out 250ms;
}

.left-sided a{
    all: unset;
    cursor: pointer;
}
  